button {
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 4px 12px;
  cursor: pointer;
  font: {
    size: $fs24;
    weight: $fwMedium;
  }
  span{
    color: $white;
  }
  .ico{
    &-arrow {
      color: $white;
    }
  }
}