.is-loading {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.dim{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  img{
    display: block;
    position: relative;
    width: 500px;
    height: 500px;
    animation: sizeUp 3s ease-in;
    transform: translateY(-100px);
  }
  strong {
    transform: translateY(-150px);
    opacity: 0;
    font-size: 45px;
    color: #fff;
    animation: textUp 3s 3s ease-in;
  }
  @keyframes textUp {
    0% {
      opacity: 0;
      transform: translateY(-300);
    }
    100% {
      opacity: 1;
      transform: translateY(-150px);
    }
  }
  @keyframes sizeUp {
    0% {
      display: block;
      transform: rotate(0) translateY(0);
      width: 300px;
      height: 300px;
    }
    30% {
      transform: rotate(0) translateY(0);
      width: 300px;
      height: 300px;
    }
    70% {
      transform: rotate(360deg) translateY(0);
      width: 500px;
      height: 500px;
    }
    100% {
      transform: rotate(360deg) translateY(-100px);
      width: 500px;
      height: 500px;
    }
  }
}
