@media (min-width: 1281px) {
  .award {
    &-title {
      text-align: center;
      padding-bottom: 24px;
      h3 {
        font: {
          size: $fs80;
          weight: $fwBlack;
        }
        background: linear-gradient(90deg, #F4B38C 13.87%, #FAC7A2 25.25%, #FDCFAB 36.64%, #EFA077 133.41%, #E59E7B 224.49%, #E8A27D 252.96%, #F4B085 287.11%, #FCB98A 298.5%, #EBA37F 406.66%, #FDCEA1 514.82%, #FBC99D 531.9%, #F7BC91 554.67%, #F1A77D 577.44%, #EFA077 583.13%);
        color: transparent;
        -webkit-background-clip: text;
      }
    }
    &-table {
      color: $white;
      margin-top: 24px;
      table{
        width: 100%;
        text-align: left;
        th, td {
          padding: 24px 24px;
        }
        th{
          background-color: $blue;
          font-size: $fs24;
          text-align: center;
          &:last-child{
            background-color: $green;
          }
        }
        td{
          text-align: center;
          font-size: $fs20;
          border-bottom: 1px solid $whiteOpcity5;
          &.first {
            border-right: 1px solid $whiteOpcity5;
          }
        }
      }
    }
    &-desc{
      text-align: center;
      &_t, &_b { color: $whiteOpcity8;}
      &_t { 
        color: $white;
        font-size: $fs36;
        margin-bottom: 24px;
      }
      &_b { 
        font-size: $fs18;
        color: $whiteOpcity8;
      }
    }
    &-visual {
      margin-top: 40px;
      img{
        height: 500px;
      }
    }
    &-info {
      margin-top: 160px;
      &_t {
        margin-bottom: 32px;
        h6 {
          color: $white;
          font: {
            size: $fs28;
            weight: $fwBlack;
          }
        }
      }
      &-wrap{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
        border-top: 1px solid $whiteOpcity5;
        color: $white;
        padding-top: 40px;
        & > p {
          flex: 1 0 20%;
          padding-bottom: 4px;
          position: relative;
          display: inline-block;
          font: {
            size: $fs24;
            weight: $fwBold;
          }
        }
      }
      &-list {
        display: flex;
        flex-wrap: wrap;
        gap: 18px 0;
        margin-top: 8px;
        font-size: $fs20;
        dt, dd {
          width: 100%;
        }
        &_title {
          color: $white;
          font: {
            size: $fs24;
            weight: $fwBold;
          }
          background: linear-gradient(90deg, #F4B38C 13.87%, #FAC7A2 25.25%, #FDCFAB 36.64%, #EFA077 133.41%, #E59E7B 224.49%, #E8A27D 252.96%, #F4B085 287.11%, #FCB98A 298.5%, #EBA37F 406.66%, #FDCEA1 514.82%, #FBC99D 531.9%, #F7BC91 554.67%, #F1A77D 577.44%, #EFA077 583.13%);
          background-clip: text;
          color: transparent;
        }
        &_desc {
          position: relative;
          color: $whiteOpcity8;
          &::before{
            content: '-';
            margin-right: 10px;
  
          }
          img {
            width: 100%;
          }
          p {
            &:not(&:first-child) {
              margin-top: 4px;
            }
          }
          .num {
            color: $white;
            margin-right: 4px;
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .award {
    &-title {
      text-align: center;
      padding-bottom: 12px;
      h3 {
        font: {
          size: $fs33;
          weight: $fwBlack;
        }
        background: linear-gradient(90deg, #F4B38C 13.87%, #FAC7A2 25.25%, #FDCFAB 36.64%, #EFA077 133.41%, #E59E7B 224.49%, #E8A27D 252.96%, #F4B085 287.11%, #FCB98A 298.5%, #EBA37F 406.66%, #FDCEA1 514.82%, #FBC99D 531.9%, #F7BC91 554.67%, #F1A77D 577.44%, #EFA077 583.13%);
        color: transparent;
        -webkit-background-clip: text;
      }
    }
    &-table {
      color: $white;
      margin-top: 12px;
      table{
        width: 100%;
        text-align: left;
        th, td {
          padding: 12px 12px;
        }
        th{
          background-color: $blue;
          font-size: $fs18;
          text-align: center;
          &:last-child{
            background-color: $green;
          }
        }
        td{
          text-align: center;
          font-size: $fs14;
          border-bottom: 1px solid $whiteOpcity5;
          &.first {
            border-right: 1px solid $whiteOpcity5;
          }
        }
      }
    }
    &-info {
      margin-top: 80px;
      &_t {
        margin-bottom: 12px;
        h6 {
          color: $white;
          font: {
            size: $fs20;
            weight: $fwBlack;
          }
        }
      }
      &-wrap{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 4px;
        border-top: 1px solid $whiteOpcity5;
        color: $white;
        padding-top: 12px;
      }
      &-list {
        display: flex;
        flex-wrap: wrap;
        gap: 4px 0;
        margin-top: 8px;
        font-size: $fs20;
        dt, dd {
          width: 100%;
        }
        &_title {
          color: $white;
          font: {
            size: $fs18;
            weight: $fwBold;
          }
          background: linear-gradient(90deg, #F4B38C 13.87%, #FAC7A2 25.25%, #FDCFAB 36.64%, #EFA077 133.41%, #E59E7B 224.49%, #E8A27D 252.96%, #F4B085 287.11%, #FCB98A 298.5%, #EBA37F 406.66%, #FDCEA1 514.82%, #FBC99D 531.9%, #F7BC91 554.67%, #F1A77D 577.44%, #EFA077 583.13%);
          background-clip: text;
          color: transparent;
        }
        &_desc {
          font-size: $fs14;
          position: relative;
          color: $whiteOpcity8;
          &::before{
            content: '-';
            margin-right: 10px;
  
          }
          img {
            width: 100%;
          }
          p {
            &:not(&:first-child) {
              margin-top: 4px;
            }
          }
          .num {
            color: $white;
            margin-right: 4px;
          }
        }
      }
    }
  }
}
