@media (max-width: 1280px) {
  .pc {
    display: none;
  }
  .l-wrap {
    padding: 0 10px;
    max-width: initial !important;
    min-width: initial !important;
  }
  .section {
    &-gap {
      padding: 40px 0 60px 0;
    }
    &-bottom{
      padding-bottom: 40px;
      &_lg {
        padding-bottom: 60px;
      }
    }
  }
}
@media (min-width: 1281px) {
  .mob{
     display: none;
  }
  .section {
    &-gap {
      padding: 60px 0 120px 0;
    }
    &-bottom{
      padding-bottom: 120px;
      &_lg {
        padding-bottom: 180px;
      }
    }
  }
}
.l{
  &-container{
    width: 100%; 
  }
  &-wrap {
    max-width: 1680px;
    min-width: 1280px;
    height: 100vh;
    margin: 0 auto;
  }
}

.l-container{
  width: 100%;
}
